<app-header></app-header>

<mat-card>
  <form [formGroup]="searchForm" novalidate ngDefaultControl>
    <table class="formTable">
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="User ID" formControlName="userId" [(ngModel)]="userIdVal">
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let id of idList" [value]="id">
                {{id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Completed?" formControlName="completed" [(ngModel)]="completedVal">
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let val of completedList" [value]="val">
                {{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <input type='text' style='padding:8px;margin:15px auto;' placeholder='Type to filter title...' />
        </td>
        <td>
          <button (click)="search($event)" #box (keyup.enter)="onEnter(box.value)">
            Apply
          </button>
        </td>
        <td>
          <button (click)="resetSearchForm($event)">
            Clear
          </button>
        </td>
      </tr>
    </table>
  </form>
</mat-card>

<mat-card>
  <div class="mat-table-container">

    <ngx-datatable #dataTable class="mat-table" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="'auto'"
      [footerHeight]="50" [rowHeight]="'auto'">
    </ngx-datatable>
  </div>
</mat-card>
